<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Account | Mindhub Brothers</title>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./styles/styleaccounts.css" />
	</head>
	<body>
		<div class="app-container" id="app">
			<div class="app-header">
				<div class="app-header-left">
					<img :src="logo" alt="" style="width: 64px" />
					<p class="app-name">Mindhub Brothers</p>
				</div>
				<div class="app-header-mid">
					<p class="tittle">Cards</p>
				</div>
				<div class="app-header-right">
					<button class="mode-switch" title="Switch Theme" @click="changeLogoColor">
						<svg
							class="moon"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							width="24"
							height="24"
							viewBox="0 0 24 24"
						>
							<defs></defs>
							<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
						</svg>
					</button>
					<button class="profile-btn">
						<!-- <img src="https://assets.codepen.io/3306515/IMG_2025.jpg" /> -->
						<span>{{clientName}}</span>
					</button>
				</div>
			</div>
			<div class="app-content">
				<div class="sidebar">
					<div class="app-sidebar">
						<div class="sidebarLinks">
							<a href="./accounts.html" class="app-sidebar-link">
								<div class="ms-2">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="feather feather-home"
									>
										<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
										<polyline points="9 22 9 12 15 12 15 22" />
									</svg>
								</div>
								<div class="ms-2 me-3">Accounts</div>
							</a>
							<a href="" class="sidebarLinkActive"></a>
						</div>
						<div class="sidebarLinks w-100">
							<a href="" class="app-sidebar-link active">
								<div class="ms-2">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										fill="currentColor"
										class="bi bi-credit-card"
										viewBox="0 0 16 16"
									>
										<path
											d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"
										/>
										<path
											d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"
										/>
									</svg>
								</div>
								<div class="ms-2 me-3">Credit cards</div>
							</a>
						</div>
						<div class="sidebarLinks">
							<a href="" class="app-sidebar-link">
								<div class="ms-2">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										fill="currentColor"
										class="bi bi-cash-coin"
										viewBox="0 0 16 16"
									>
										<path
											fill-rule="evenodd"
											d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"
										/>
										<path
											d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"
										/>
										<path
											d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"
										/>
										<path
											d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"
										/>
									</svg>
								</div>
								<div class="ms-2 me-3 getALoan">Geat a loan</div>
							</a>
						</div>

						<div class="sidebarLinks">
							<a href="" class="app-sidebar-link">
								<div class="ms-2">
									<svg
										class="link-icon feather feather-settings"
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										fill="none"
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										viewBox="0 0 24 24"
									>
										<defs />
										<circle cx="12" cy="12" r="3" />
										<path
											d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z"
										/>
									</svg>
								</div>
								<div class="ms-2 me-3">Settings</div>
							</a>
						</div>

						<div class="d-flex flex-column sideBarLogOut">
							<div class="sidebarLinks">
								<a href="" class="app-sidebar-link">
									<div class="ms-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											fill="currentColor"
											class="bi bi-box-arrow-left"
											viewBox="0 0 16 16"
										>
											<path
												fill-rule="evenodd"
												d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
											/>
											<path
												fill-rule="evenodd"
												d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
											/>
										</svg>
									</div>
									<div class="ms-2 me-3">Logout</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="projects-section">
					<div class="projects-section-header d-flex justify-content-end">
						<p class="time">{{Localtime}}</p>
					</div>

					<div
						class="d-flex justify-content-center gap-5 align-items-center h-100 flex-wrap"
					>
						<div class="d-flex flex-wrap" v-for="card in cards">
							<div class="card creditCard" v-if="card.color == 'GOLD'">
								<div class="card__front card__gold">
									<img
										class="card__front-square card__square"
										src="./images/holographicsquare.png"
									/>
									<img
										class="card__front-logo card__logo"
										src="./images/VISA-logo.png"
									/>
									<p class="card_numer">{{card.number}}</p>
									<div class="card__space-75">
										<span class="card__label">Card: {{card.type}}</span>
										<p class="card__info">{{card.cardHolder}}</p>
									</div>
									<div class="card__space-25">
										<span class="card__label">Expires</span>
										<p class="card__info">
											{{card.thruDate.slice(2,7).replace("-","/")}}
										</p>
									</div>
								</div>
								<div class="card__back card__gold">
									<div class="card__black-line"></div>
									<div class="card__back-content">
										<div class="card__secret">
											<p class="card__secret--last">{{card.cvv}}</p>
										</div>
										<img
											class="card__back-square card__square"
											src="./images/holographicsquare.png"
										/>

										<img
											class="card__back-logo card__logo"
											src="./images/VISA-logo.png"
										/>
									</div>
								</div>
							</div>
							<div class="card creditCard" v-if="card.color == 'SILVER'">
								<div class="card__front card__silver">
									<img
										class="card__front-square card__square"
										src="./images/holographicsquare.png"
									/>
									<img
										class="card__front-logo card__logo"
										src="./images/VISA-logo.png"
									/>
									<p class="card_numer">{{card.number}}</p>
									<div class="card__space-75">
										<span class="card__label">Card: {{card.type}}</span>
										<p class="card__info">{{card.cardHolder}}</p>
									</div>
									<div class="card__space-25">
										<span class="card__label">Expires</span>
										<p class="card__info">
											{{card.thruDate.slice(2,7).replace("-","/")}}
										</p>
									</div>
								</div>
								<div class="card__back card__silver">
									<div class="card__black-line"></div>
									<div class="card__back-content">
										<div class="card__secret">
											<p class="card__secret--last">{{card.cvv}}</p>
										</div>
										<img
											class="card__back-square card__square"
											src="./images/holographicsquare.png"
										/>

										<img
											class="card__back-logo card__logo"
											src="./images/VISA-logo.png"
										/>
									</div>
								</div>
							</div>
							<div class="card creditCard" v-if="card.color == 'TITANIUM'">
								<div class="card__front card__titanium">
									<img
										class="card__front-square card__square"
										src="./images/holographicsquare.png"
									/>
									<img
										class="card__front-logo card__logo"
										src="./images/VISA-logo.png"
									/>
									<p class="card_numer">{{card.number}}</p>
									<div class="card__space-75">
										<span class="card__label">Card: {{card.type}}</span>
										<p class="card__info">{{card.cardHolder}}</p>
									</div>
									<div class="card__space-25">
										<span class="card__label">Expires</span>
										<p class="card__info">
											{{card.thruDate.slice(2,7).replace("-","/")}}
										</p>
									</div>
								</div>
								<div class="card__back card__titanium">
									<div class="card__black-line"></div>
									<div class="card__back-content">
										<div class="card__secret">
											<p class="card__secret--last">{{card.cvv}}</p>
										</div>
										<img
											class="card__back-square card__square"
											src="./images/holographicsquare.png"
										/>

										<img
											class="card__back-logo card__logo"
											src="./images/VISA-logo.png"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="project-boxes">
						<div v-if="cards.length == 0">
							<h1 class="tittle text-center mt-5">
								There are no cards on this client
							</h1>
						</div>
					</div>
					<div
						id="carouselExampleFade"
						class="carousel slide carousel-fade w-100 mt-5"
						data-bs-ride="carousel"
					>
						<div class="carousel-inner w-100">
							<div
								class="carousel-item active d-flex justify-content-center"
								data-bs-interval="3000"
							>
								<img src="./images/adCarousel1.png" class="d-block" alt="..." />
							</div>
							<div
								class="carousel-item d-flex justify-content-center"
								data-bs-interval="3000"
							>
								<img src="./images/adCarousel2.png" class="d-block" alt="..." />
							</div>
							<div
								class="carousel-item d-flex justify-content-center"
								data-bs-interval="3000"
							>
								<img src="./images/adCarousel3.png" class="d-block" alt="..." />
							</div>
							<div
								class="carousel-item d-flex justify-content-center"
								data-bs-interval="3000"
							>
								<img src="./images/adCarousel4.png" class="d-block" alt="..." />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>
		<script src="sweetalert2.all.min.js"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="./javascript/cards.js"></script>
	</body>
</html>
