<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Account | Mindhub Brothers</title>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./styles/styleindex.css" />
	</head>
	<body>
		<div class="app-container" id="app">
			<div class="d-flex">
				<div class="app-header d-flex justify-content-center">
					<div class="app-header-left">
						<img :src="logo" alt="" style="width: 64px" />
						<p class="app-name fs-2">Mindhub Brothers</p>
					</div>
				</div>

				<div class="app-header-right">
					<button class="mode-switch" title="Switch Theme" @click="changeLogoColor">
						<svg
							class="moon"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							width="24"
							height="24"
							viewBox="0 0 24 24"
						>
							<defs></defs>
							<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
						</svg>
					</button>
					<button class="profile-btn">
						<!-- <img src="https://assets.codepen.io/3306515/IMG_2025.jpg" /> -->
					</button>
				</div>
			</div>

			<div class="app-content">
				<div class="projects-section">
					<section class="mt-4">
						<div class="container">
							<div class="user signinBx">
								<div class="imgBx">
									<img src="./images/SignIn.png" alt="" />
								</div>
								<div class="formBx">
									<form action="" onsubmit="return false;">
										<h2>Sign In</h2>
										<input type="text" name="" placeholder="Username" v-model="user" />
										<input
											type="password"
											name=""
											placeholder="Password"
											v-model="password"
										/>
										<input type="submit" name="" value="Login" @click.prevent="login" />
										<p class="signup">
											Don't have an account ?
											<a href="#" onclick="toggleForm();">Sign Up.</a>
										</p>
									</form>
								</div>
							</div>
							<div class="user signupBx">
								<div class="formBx">
									<form action="" onsubmit="return false;">
										<h2>Create an account</h2>
										<input
											type="text"
											name=""
											placeholder="First Name"
											v-model="firstName"
										/>
										<input
											type="text"
											name=""
											placeholder="Last Name"
											v-model="lastName"
										/>
										<input
											type="email"
											name=""
											placeholder="Email Adress"
											v-model="email"
										/>
										<input
											type="password"
											name=""
											placeholder="Create Password"
											v-model="passwordSignUp"
										/>
										<input
											type="submit"
											name=""
											value="Sign Up"
											@click.prevent="register"
										/>
										<p class="signup">
											Already have an account ?
											<a href="#" onclick="toggleForm();">Sign in.</a>
										</p>
									</form>
								</div>
								<div class="imgBx">
									<img src="./images/signUp.png" alt="" />
								</div>
							</div>
						</div>
					</section>

					<footer class="marginFooter mb-3">
						<div class="rounded-social-buttons">
							<a
								class="social-button facebook"
								href="https://www.facebook.com/"
								target="_blank"
								><i class="fab fa-facebook-f"></i
							></a>
							<a
								class="social-button twitter"
								href="https://www.twitter.com/"
								target="_blank"
								><i class="fab fa-twitter"></i
							></a>
							<a
								class="social-button linkedin"
								href="https://www.linkedin.com/in/dante-vilches-85646423b/"
								target="_blank"
								><i class="fab fa-linkedin"></i
							></a>
							<a
								class="social-button youtube"
								href="https://www.youtube.com/"
								target="_blank"
								><i class="fab fa-youtube"></i
							></a>
							<a
								class="social-button instagram"
								href="https://www.instagram.com/dantepilsen"
								target="_blank"
								><i class="fab fa-instagram"></i
							></a>
						</div>
					</footer>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>
		<script src="sweetalert2.all.min.js"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="./javascript/index.js"></script>
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
			integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
			crossorigin="anonymous"
		></script>
	</body>
</html>
