body {
	background: #e0eafc; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#cfdef3,
		#e0eafc
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#cfdef3,
		#e0eafc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fcontent {
	width: fit-content;
}
[v-cloak] {
	display: none;
}
.divREST {
	height: fit-content;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(0, 95, 104, 1) 0%,
		rgba(15, 156, 168, 1) 90%
	);
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
	color: white;
	text-shadow: 2px 2px black;
}
.divREST table {
	color: white;
}

.table td {
	text-shadow: none;
}
.borderTD {
	border-top-width: 1px !important;
	border-bottom-width: 1px;
}

@media screen and (max-width: 1100px) {
	.divREST {
		width: 90% !important;
		margin-bottom: 3rem;
	}
	.divTable {
		overflow: scroll;
	}
}

@media screen and (max-width: 725px) {
	.tittle {
		font-size: 25px !important;
	}
}
