@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
	box-sizing: border-box;
}
[v-cloak] {
	display: none !important;
}
:root {
	--app-container: #f3f6fd;
	--main-color: #1f1c2e;
	--secondary-color: #4a4a4a;
	--link-color: #1f1c2e;
	--link-color-hover: #c3cff4;
	--link-color-active: #fff;
	--link-color-active-bg: #1f1c2e;
	--projects-section: rgba(37, 88, 95, 0.116);
	--message-box-hover: #fafcff;
	--message-box-border: #e9ebf0;
	--more-list-bg: #fff;
	--more-list-bg-hover: #f6fbff;
	--more-list-shadow: rgba(209, 209, 209, 0.4);
	--button-bg: #1f1c24;
	--search-area-bg: #fff;
	--star: #1ff1c2e;
	--message-btn: #fff;
}

.dark:root {
	--app-container: #1f1d2b;
	--app-container: #111827;
	--main-color: #fff;
	--secondary-color: rgba(255, 255, 255, 0.8);
	--projects-section: #1f2937;
	--link-color: rgba(255, 255, 255, 0.8);
	--link-color-hover: rgba(195, 207, 244, 0.1);
	--link-color-active-bg: rgba(195, 207, 244, 0.2);
	--button-bg: #1f2937;
	--search-area-bg: #1f2937;
	--message-box-hover: #243244;
	--message-box-border: rgba(255, 255, 255, 0.1);
	--star: #ffd92c;
	--light-font: rgba(255, 255, 255, 0.8);
	--more-list-bg: #2f3142;
	--more-list-bg-hover: rgba(195, 207, 244, 0.1);
	--more-list-shadow: rgba(195, 207, 244, 0.1);
	--message-btn: rgba(195, 207, 244, 0.1);
}

html,
body {
	width: 100%;
	height: 100vh;
	margin: 0;
}

body {
	font-family: "DM Sans", sans-serif;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: var(--app-container);
}

button,
a {
	cursor: pointer;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	background-image: linear-gradient(
		to right top,
		#a2beeb,
		#8ecfee,
		#8edde5,
		#a4e7d5,
		#c7eec7
	);
	flex-direction: column;
	-webkit-flex-direction: column;
}

.carousel-item img {
	margin: 0 !important;
	border-radius: 25px;
	height: 424px;
	margin-bottom: 25px;
}

.title {
	margin-bottom: 30px;
	color: #162969;
}
.creditCard {
	background: inherit;
}
.getALoan {
	width: 84px !important;
}
.sideBarLogOut {
	height: 100% !important;
	justify-content: end;
}
.hamburgerMenu {
	display: none !important;
}
.card {
	width: 320px;
	height: 190px;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	border: none;
}

.card__parts {
	box-shadow: 1px 1px #aaa3a3;
	top: 0;
	position: absolute;
	z-index: 1000;
	left: 0;
	display: inline-block;
	width: 320px;
	height: 190px; /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 8px;

	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.DEBITTITANIUM {
	background-image: url("../images/world.png"),
		linear-gradient(
			to right bottom,
			#878681,
			#878681,
			#878681,
			#145175,
			#06456ed3
		);
}
.CREDITTITANIUM {
	background-image: url("../images/world.png"),
		linear-gradient(to right bottom, #878681, #878681, #878681, #000000, #000000);
}
.DEBITGOLD {
	background-image: url("../images/world.png"),
		linear-gradient(
			to right bottom,
			#f5d15b,
			#ffdd6e,
			#f5d773,
			#145175,
			#06456ed3
		);
}
.CREDITGOLD {
	background-image: url("../images/world.png"),
		linear-gradient(to right bottom, #f5d15b, #ffdd6e, #f5d773, #000000, #000000);
}
.DEBITSILVER {
	background-image: url("../images/world.png"),
		linear-gradient(
			to right bottom,
			#c0c0bf,
			#c0c0bf,
			#c0c0bf,
			#145175,
			#06456ed3
		);
}
.CREDITSILVER {
	background-image: url("../images/world.png"),
		linear-gradient(to right bottom, #c0c0bf, #c0c0bf, #c0c0bf, #000000, #000000);
}

.card__front {
	padding: 18px;
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
}

.card__back {
	padding: 18px 0;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}

.card__black-line {
	margin-top: 5px;
	height: 38px;
	background-color: #303030;
}

.card__logo {
	height: 16px;
}

.card__front-logo {
	position: absolute;
	top: 18px;
	right: 18px;
}
.card__square {
	border-radius: 5px;
	height: 30px;
}

.card_numer {
	display: block;
	width: 100%;
	word-spacing: 4px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.card__space-75 {
	width: 75%;
	float: left;
}

.card__space-25 {
	width: 25%;
	float: left;
}

.card__label {
	font-size: 10px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 1px;
}

.card__info {
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card__back-content {
	padding: 15px 15px 0;
}
.card__secret--last {
	color: #303030;
	text-align: right;
	margin: 0;
	font-size: 14px;
}

.balance {
	position: absolute;
	bottom: 18px;
	left: 80px;
}
.card__secret {
	padding: 5px 12px;
	background-color: #fff;
	position: relative;
}

.card__secret:before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	height: calc(100% + 6px);
	width: calc(100% - 42px);
	border-radius: 4px;
	background: repeating-linear-gradient(
		45deg,
		#ededed,
		#ededed 5px,
		#f9f9f9 5px,
		#f9f9f9 10px
	);
}

.card__back-logo {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.card__back-square {
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.card:hover .card__front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.card:hover .card__back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
.textShadow {
	text-shadow: 2px 2px 2px #000;
}
.app-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--app-container);
	transition: 0.2s;
	max-width: 1920px;
}
.app-container button,
.app-container input,
.app-container optgroup,
.app-container select,
.app-container textarea {
	font-family: "DM Sans", sans-serif;
}
.app-content {
	display: flex;
	height: 100%;
	overflow: hidden;
	padding: 16px 24px 24px 0;
}
.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 24px;
	position: relative;
}
.app-header-left,
.app-header-right {
	display: flex;
	align-items: center;
}

.app-header-right button {
	margin-left: 10px;
}
.app-icon {
	width: 26px;
	height: 2px;
	border-radius: 4px;
	background-color: var(--main-color);
	position: relative;
}
.app-icon:before,
.app-icon:after {
	content: "";
	position: absolute;
	width: 12px;
	height: 2px;
	border-radius: 4px;
	background-color: var(--main-color);
	left: 50%;
	transform: translatex(-50%);
}
.app-icon:before {
	top: -6px;
}
.app-icon:after {
	bottom: -6px;
}
.fontColor {
	color: var(--main-color);
}
.app-name {
	color: var(--main-color);
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 32px;
}
.tittle {
	color: var(--main-color);
	margin: 0;
	font-size: 48px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 32px;
}
.mode-switch {
	background-color: transparent;
	border: none;
	padding: 0;
	color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-wrapper {
	border-radius: 20px;
	background-color: var(--search-area-bg);
	padding-right: 12px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 480px;
	color: var(--light-font);
	box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
		0 24px 20px -24px rgba(71, 82, 107, 0.1);
	overflow: hidden;
}
.dark .search-wrapper {
	box-shadow: none;
}

.search-input {
	border: none;
	flex: 1;
	outline: none;
	height: 100%;
	padding: 0 20px;
	font-size: 16px;
	background-color: var(--search-area-bg);
	color: var(--main-color);
}
.search-input:placeholder {
	color: var(--main-color);
	opacity: 0.6;
}

.add-btn {
	color: #fff;
	background-color: var(--button-bg);
	padding: 0;
	border: 0;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notification-btn {
	color: var(--main-color);
	padding: 0;
	border: 0;
	background-color: transparent;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-btn {
	padding: 0;
	border: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	padding-left: 12px;
	border-left: 2px solid #ddd;
}
.profile-btn img {
	width: 32px;
	height: 32px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 4px;
}
.profile-btn span {
	color: var(--main-color);
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

.page-content {
	flex: 1;
	width: 100%;
}
.sidebar {
	display: flex;
}
.sidebarText {
	padding: 40px 16px;
	align-items: center;
}
.sidebarText a {
	margin: 16px 0;
}
.app-sidebar {
	padding: 40px 16px;
	display: flex;
	flex-direction: column;
}
.app-sidebar-link {
	color: var(--main-color);
	color: var(--link-color);
	width: fit-content;
	transition: 0.2s;
	border-radius: 250px;
	margin: 16px 0;
	flex-shrink: 0;

	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app-sidebar-link:hover {
	background-color: var(--link-color-hover);
	color: var(--link-color-active);
}
.app-sidebar-link.active {
	background-color: var(--link-color-active-bg);
	color: var(--link-color-active);
}

.projects-section {
	flex: 2;
	background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-color: var(--projects-section);
	border-radius: 32px;
	padding: 32px 32px 0 32px;
	overflow: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.projects-section-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 32px;
}
.projects-section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
	color: var(--main-color);
}
.projects-section-header p {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	opacity: 0.9;
	margin: 0;
	color: var(--main-color);
}
.projects-section-header .time {
	font-size: 20px;
}

.projects-status {
	display: flex;
}

.item-status {
	display: flex;
	flex-direction: column;
	margin-right: 16px;
}
.item-status:not(:last-child) .status-type:after {
	content: "";
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translatey(-50%);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 1px solid var(--secondary-color);
}

.status-number {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	color: var(--main-color);
}

.status-type {
	position: relative;
	padding-right: 24px;
	color: var(--secondary-color);
}

.view-actions {
	display: flex;
	align-items: center;
}

.project-boxes {
	margin: 0 -8px;
}
.project-boxes.jsListView .project-box {
	display: flex;
	border-radius: 10px;
	position: relative;
}
.project-boxes.jsListView .project-box > * {
	margin-right: 24px;
}
.project-boxes.jsListView .more-wrapper {
	position: absolute;
	right: 16px;
	top: 16px;
}
.project-boxes.jsListView .project-box-content-header {
	order: 1;
	max-width: 120px;
}
.project-boxes.jsListView .project-box-header {
	order: 2;
}
.project-boxes.jsListView .project-box-footer {
	order: 3;
	padding-top: 0;
	flex-direction: column;
	justify-content: flex-start;
}
.project-boxes.jsListView .project-box-footer:after {
	display: none;
}

.project-boxes.jsListView .project-box-content-header p {
	text-align: left;

	white-space: nowrap;
	text-overflow: ellipsis;
}
.project-boxes.jsListView .project-box-header > span {
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-size: 12px;
}
.project-boxes.jsListView .box-progress-wrapper {
	order: 3;
	flex: 1;
}

.project-boxes.jsGridView {
	display: flex;
	flex-wrap: wrap;
}
.project-boxes.jsGridView .project-box-wrapper {
	width: 33.3%;
}
.marginLeft {
	margin-left: 16px !important;
}
.project-box {
	--main-color-card: #dbf6fd;
	border-radius: 30px;
	padding: 32px;
	background-color: var(--main-color-card);
}
.project-box-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	color: var(--main-color);
}
.project-box-header span {
	color: #4a4a4a;
	font-weight: 700 !important;

	opacity: 0.7;
	font-size: 14px;
	line-height: 16px;
}
.project-box-content-header {
	text-align: center;
	margin-bottom: 16px;
}
.project-box-content-header p {
	margin: 0;
}
.project-box-wrapper {
	padding: 8px;
	transition: 0.2s;
}

.project-btn-more {
	padding: 0;
	height: 14px;
	width: 24px;
	height: 24px;
	position: relative;
	background-color: transparent;
	border: none;
	flex-shrink: 0;
}

.more-wrapper {
	position: relative;
}

.box-content-header {
	margin-bottom: 15px !important;
	font-size: 20px !important;
	line-height: 24px;
	font-weight: 700;
	opacity: 0.7;
}

.box-content-subheader {
	font-size: 14px;
	line-height: 24px;
	opacity: 0.7;
}

.project-box-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	position: relative;
}
.project-box-footer:after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	width: calc(100% + 32px);
	top: 0;
	left: -16px;
	height: 1px;
}

.mode-switch.active .moon {
	fill: var(--main-color);
}

.sidebarLinks {
	display: flex;
	align-items: center;
	width: 130px;
}
.sidebarLinks a {
	text-decoration: none;
	color: white;
	color: var(--main-color);
	color: var(--link-color);

	transition: 0.2s;
}
.sidebarLinks a:hover {
	background-color: var(--link-color-hover);
	color: var(--link-color-active);
	border-radius: 25px;
}
.sidebarLinkActive {
	background-color: var(--link-color-active-bg);
	color: var(--link-color-active);
	border-radius: 25px;
}
.paddingLoan {
	padding: 0px 0px 140px;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.svg-inline--fa {
	vertical-align: -0.2em;
}

.rounded-social-buttons {
	text-align: center;
}

.rounded-social-buttons .social-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 3.125rem;
	height: 3.125rem;
	border: 0.125rem solid transparent;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: #fefefe;
	font-size: 1.5625rem;
	font-weight: normal;
	line-height: 2em;
	border-radius: 1.6875rem;
	transition: all 0.5s ease;
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
	font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
	background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
	color: #3b5998;
	background: #fefefe;
	border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
	background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
	color: #55acee;
	background: #fefefe;
	border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
	background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
	color: #007bb5;
	background: #fefefe;
	border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
	background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
	color: #bb0000;
	background: #fefefe;
	border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
	background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
	color: #125688;
	background: #fefefe;
	border-color: #125688;
}

.hamburgerMenu {
	display: none;
}
.btn-secondary {
	background-color: var(--main-color);
	color: var(--app-container) !important;
}
.dropdown-menu-dark {
	background-color: var(--main-color) !important;
	color: var(--app-container) !important;
}
.dropdown-item {
	color: var(--app-container) !important;
}

@media screen and (max-width: 1024px) {
	.w75Mobile {
		width: 75% !important;
	}
}
@media screen and (max-width: 980px) {
	.project-boxes.jsGridView .project-box-wrapper {
		width: 50%;
	}
	.carousel-item img {
		object-fit: cover;
		width: 100%;
	}
}

@media screen and (min-width: 721px) and (max-width: 797px) {
	.tittle {
		margin: 0 !important;
		font-size: 25px !important;
	}
}
@media screen and (max-width: 720px) {
	.hamburgerMenu {
		display: block !important;
	}
	.w100Mobile {
		width: 100% !important;
	}
	.app-name,
	.profile-btn span {
		display: none;
	}

	.sidebar,
	.app-icon {
		display: none !important;
	}
	.app-content {
		padding: 16px 12px 24px 12px;
	}
	.add-btn,
	.notification-btn,
	.mode-switch {
		width: 20px;
		height: 20px;
	}
	.add-btn svg,
	.notification-btn svg,
	.mode-switch svg {
		width: 16px;
		height: 16px;
	}

	.app-header-right button {
		margin-left: 4px;
	}
	.tittle {
		margin: 0 !important;
		font-size: 25px !important;
	}
	.project-boxes.jsGridView .project-box-wrapper {
		width: 100%;
	}
}
@media screen and (max-width: 520px) {
	.projects-section {
		overflow: auto;
	}
	.tittle {
		font-size: 18px !important;
		text-align: center;
	}

	.project-boxes {
		overflow-y: visible;
	}

	.sidebar,
	.app-icon {
		display: none !important;
	}

	.app-content {
		padding: 16px 12px 24px 12px;
	}

	.status-number,
	.status-type {
		font-size: 10px;
	}

	.view-btn {
		width: 24px;
		height: 24px;
	}

	.app-header {
		padding: 16px 10px;
	}

	.search-input {
		max-width: 120px;
	}

	.project-boxes.jsGridView .project-box-wrapper {
		width: 100%;
	}

	.projects-section {
		padding: 24px 16px 0 16px;
	}

	.profile-btn img {
		width: 24px;
		height: 24px;
	}

	.app-header {
		padding: 10px;
	}

	.projects-section-header p,
	.projects-section-header .time {
		font-size: 18px;
	}

	.status-type {
		padding-right: 4px;
	}
	.status-type:after {
		display: none;
	}

	.search-input {
		font-size: 14px;
	}

	.box-content-header {
		line-height: 16px;
	}

	.box-content-subheader {
		font-size: 12px;
	}

	.project-boxes.jsListView .project-box-header > span {
		font-size: 10px;
		font-weight: 700 !important;
	}

	.box-progress-header {
		font-size: 12px;
	}

	.box-progress-percentage {
		font-size: 10px;
	}

	.days-left {
		font-size: 8px;
		padding: 6px 6px;
		text-align: center;
	}

	.project-boxes.jsListView .project-box > * {
		margin-right: 10px;
	}

	.project-boxes.jsListView .more-wrapper {
		right: 2px;
		top: 10px;
	}
}
